:root {
  --blue-color: #0076A8;
  --orange-light-color: #FF6B00;
  --orange-dark-color: #D75A00;
  --gray-color: #272727;
  --button-bg-orange-gradient: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-700.woff') format('woff');
}

html {
  box-sizing: border-box;

  /* что бы убрать горизонтальный скролл при добавлении карты */
  position: relative;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  color: white;
}

/* max-width 100 что бы картинка не выпадала из родителя
height auto, что бы картинки не искажались*/
img, svg {
  max-width: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button, textarea {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

/* header */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 130px;
}


.header__up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  gap: 15px;
}

.header__logo {
  width: 76px;
}

.header__up_info {
  display: flex;
  gap: 30px;
}

.header__up_list {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.header__up_item {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--gray-color);
}

.header__up_item-bold {
  font-weight: 600;
  transition: color .3s ease-in-out;
}

.header__up_item-bold:hover {
  color: var(--orange-light-color);
}

.header__up_button {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 17px 47px;
  background-color: var(--orange-dark-color);
  text-transform: uppercase;
  border-radius: 5px;
  border: solid 3px transparent;
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.header__up_button:hover {
  border: solid 3px var(--blue-color);
  background-color: var(--orange-light-color);
}

.header__down-container {
  padding: 0;
  background-color: var(--blue-color);
}

.header__down {
  display: flex;
  height: 70px;
  margin-bottom: 50px;
}

.header__down_navigation {
  margin: auto;
}

.header__down_list {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.header__down_item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__down_item::after {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  background: #FFFFFF;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 23px;
  opacity: 0;
  transition-duration: 0.4s;
}

.header__down_item:hover::after, .header__down_item:focus::after, .header__down_item:active::after {
  width: 100%;
  opacity: 1;
}

/* Intro */
.intro {
  margin-bottom: 60px;
}

.intro__flex {
  display: flex;
  position: relative;
  height: 449px;
  align-items: center;
  justify-content: space-between;
}

.intro__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__left_title {
  max-width: 680px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  color: var(--gray-color);
  margin-bottom: 20px;
}

.intro__left_title>span {
  font-weight: normal;
  color: var(--gray-color);
}

.intro__left_title-addition {
  display: inline-block;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  background-color: var(--orange-light-color);
  padding: 10px;
}

.intro__left_text1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.intro__left_text2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-color);
  margin-bottom: 31px;
  width: 736px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  border: solid 4px transparent;
}

.intro__left_buttons {
  display: flex;
  gap: 30px;

}

.button-orange {
  padding: 24px 35px;
  background: var(--button-bg-orange-gradient);
  transition: border .3s ease-in-out;
}

.button-white {
  padding: 20px 42px;
  color: var(--orange-light-color);
  border: 4px solid var(--orange-light-color);
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  transition: border .3s ease-in-out;
}

.button-orange:hover {
  border: solid 4px var(--blue-color);
}

.button-white:hover {
  border: solid 4px var(--blue-color);
}

.intro__right {
  position: absolute;
  right: 0px;
  top: 0px;
}

/* section our advantages */

.advantages {
  padding-top: 100px;
  padding-bottom: 110px;
}

.advantages__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 976px;
  background: #FFFFFF;
  margin: 0 auto;
  padding: 77px 20px 58px 20px;

  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.advantages__design-wires {
  position: absolute;
  left: -127px;
  top: -97px;
  z-index: -1;
}

.advantages__design-screwdriver {
  position: absolute;
  right: -82px;
  top: -97px;
  z-index: 2;
}

.advantages__title {
  position: relative;
  margin-bottom: 21px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: black;
}

.advantages__title::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 65px;
  background-color: var(--blue-color);
}

.advantages__list {
  max-width: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 20px;
}

.advantages__items {
  width: 176px;
}

.advantages__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__img {
  height: 100%;
  margin-bottom: 12px;
}

.advantages__desc {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

/*  section our work */
.work {
  padding-top: 70px;
  padding-bottom: 100px;
}

.work__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.work__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 90px;
  color: white;
}

.work__btn {
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: white;
  transition: color .3s ease-in-out;
}

.work__btn:hover {
  color: var(--orange-light-color);
}

.work__text a {
  transition: color .3s ease-in-out;
}

.work__text a:hover {
  color: var(--orange-light-color);
}

.work__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 15px;
}

.work__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-bottom: 50px;
  background-color: white;
}

.work__img {
  width: 100%;
  margin-bottom: 30px;
}

.work__card_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

.work__list {
  list-style-type: disc;
  margin-bottom: 30px;
}

.work__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.work__button {
  width: 308px;
  height: 66px;
  padding: 18px 0;
  margin: auto 0 0 0;
}

/* section consultation */
.consultation {
  padding: 100px 0;
}

.consultation__block {
  position: relative;
  padding: 80px 0 60px;
  border: 5px solid #FF6B00;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 1180px;
  height: 530px;
  object-fit: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../src/fon_consultation.png);
}

.consultation__disk {
  position: absolute;
  left: -71px;
  top: -58px;
  z-index: 2;
}

.consultation__usb-flash {
  position: absolute;
  right: -95px;
  top: 448px;
  z-index: 2;
}

.consultation__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: var(--gray-color);
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.consultation__text {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  align-items: center;
  color: var(--gray-color);
  margin-bottom: 85px;
}

.consultation__text b {
  transition: color .3s ease-in-out;
}

.consultation__text b:hover {
  color: var(--orange-light-color);
}

.consultation__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 45px;
  margin-bottom: 50px;
}

.consultation__user-name {
  width: 275px;
  height: 80px;
  border: 3px solid #FF6B00;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  padding-left: 50px;
}

.consultation__user-name::placeholder {
  color: var(--gray-color);
}

.consultation__user-phone {
  width: 344px;
  height: 78px;
  border: 3px solid #FF6B00;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  padding-left: 50px;
}

.consultation__user-phone::placeholder {
  color: var(--gray-color);
}

.consultation__btn-submit {
  width: 310px;
  height: 78px;
  padding: 0 20px;
  color: #FFFFFF;
}


.consultation_confidential {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--gray-color);
}

.consultation_confidential u {
  transition: color .3s ease-in-out;
}

.consultation_confidential u:hover {
  color: var(--orange-light-color);
}

.general__bg {
  background-image: url('/src/bg_blue-min.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 4;
}

/* block reviews */

.reviews {
  padding: 140px 0 120px;
  background: url(../src/bg_reviews.png);
  background-repeat: no-repeat;
  height: 100%;
}

.rewiews__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-color);
  margin-bottom: 100px;
}

.reviews__flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
  margin-bottom: 251px;
}

.rewiews__rewiew {
  display: block;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
}

.reviews__btn-left {
  border: none;
  background: transparent;
}

.reviews__btn-right {
  border: none;
  background: transparent;
}

/* section contacts */


.contаcts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.contacts__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 40px;
  position: relative;
}

.contacts__title::after {
  display: block;
  content: '';
  width: 184px;
  height: 3px;
  background-color: var(--blue-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.contacts__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 5px;
}

.contacts__text a {
  transition: color .3s ease-in-out;
}

.contacts__text a:hover {
  color: var(--orange-light-color);
}

.contacts__info p:last-of-type {
  margin-bottom: 30px;
}

.contacts__info p>span:hover {
  scale: 1.25;
}

.contacts__text>span {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: var(--orange-light-color);
}

.contacts__social {
  display: flex;
  gap: 15px;
}

.contacts__link {
  display: block;
  transition: .3s ease-in-out;
}

.contacts__link:hover {
  scale: 1.25;
}

.contacts__map-wrapper {
  width: 680px;
  height: 404px;
}

.contacts__map {
  width: 100%;
  height: 100%;
}

/* footer */

.footer__container {
  padding: 0;
  background-color: var(--blue-color);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 40px;
}

.footer__logo {
  width: 67px;
}

.footer__call {
  width: 58px;
  transition: 0.3s ease-in-out;
}

.footer__call:hover {
  scale: 1.25;
}

.footer__navigation-list {
  display: flex;
  column-gap: 30px;
}

.footer__navigation-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

.footer__navigation-link::after {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  background: #FFFFFF;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 23px;
  opacity: 0;
  transition-duration: 0.4s;
}

.footer__navigation-link:hover::after, .footer__navigation-link:focus::after, .footer__navigation-link:active::after {
  width: 100%;
  opacity: 1;
}