:root {
  --blue-color: #0076A8;
  --orange-light-color: #FF6B00;
  --orange-dark-color: #D75A00;
  --gray-color: #272727;
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-700.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* max-width 100 что бы картинка не выпадала из родителя
height auto, что бы картинки не искажались*/
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto';
  font-style: normal;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

.bb {
  border: 1px solid red;
}

.bbb {
  border: 1px solid rgb(17, 0, 255);
}

.main-wrapper {
  width: 1440px;
  margin: 0 auto;

}

.wrapper {
  width: 1186px;
  margin: 0 auto;
}

.header-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.header__logo {
  width: 76px;
  height: 94px;
}

.info {
  display: flex;
  gap: 50px;
}

.info__list {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.info__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--gray-color);
}

.info__item-bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--gray-color);
}

.header-up_button {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  padding: 17px 47px;
  background: var(--orange-dark-color);
  border: 0;
}

.button {
  text-transform: uppercase;
  border-radius: 5px;
  color: #FFFFFF;
}

.header-down {
  background: var(--blue-color);
  height: 70px;
  position: relative;
  padding: 25px 160px;
  margin-bottom: 53px;
}

.header-down__list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.header-down__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Intro */

.left-block__text-1 {

  width: 646px;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: var(--gray-color);
  margin-bottom: 18px;
}

.left-block__text-1>span {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  color: var(--gray-color);
}

.left-block__text-2 {
  display: inline-block;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: white;
  background-color: var(--orange-light-color);
  padding: 8px 7px;
  margin-bottom: 31px;
}

.left-block__text-3 {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.left-block__text-3::before {
  content: "-";
  position: relative;
  right: -5px;
  font-weight: 900;
}

.left-block__text-4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-color);
  margin-bottom: 31px;
  width: 736px;
}

.left-block__buttons {
  display: flex;
}

.button-orange {
  font-size: 26px;
  line-height: 30px;
  padding: 24px 35px;
  background: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
  margin-right: 37px;
  border: 0;
}

.button-white {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  padding: 20px 42px;
  color: var(--orange-light-color);
  border: 4px solid var(--orange-light-color);
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
}

.intro__flex-block {
  display: flex;
  position: relative;
  margin-bottom: 162px;
}

.right-block__img {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

/* section our advantages */

.main-advantages-wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 976px;
  background: #FFFFFF;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 110px;
}

.advantages-design-wires {
  position: absolute;
  left: 101px;
  top: -100px;

  z-index: -1;
}

.advantages-design-screwdriver {
  position: absolute;
  left: 1082px;
  top: -92px;
  z-index: 2;
}

.advantages__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: black;
  margin-bottom: 21px;
  margin-top: 77px;
}

.advantages__line {
  border: 2px solid var(--blue-color);
  width: 290px;
  margin-bottom: 41px;
}

.advantages__list {
  width: 773px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 28px;
  column-gap: 22px;
  margin-bottom: 58px;
}

.advantages__items {

  width: 176px;
}

.advantages__item-pic {
  margin-bottom: 12px;
}

.advantages__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

/*  section iur work */

.our-work__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: var(--gray-color);
  margin-top: 66px;
  margin-bottom: 19px;
}

.our-work__text {
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 89px;
}
.work__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  column-gap: 16px;
  margin-bottom: 100px;
}
.work__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  height: 574px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.work__img {
  margin-bottom: 29px;
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

.work__list {
  list-style-type: disc;
  margin-left: 10px;
  margin-bottom: 31px;
}

.work__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.card-button {
  display: block;
  width: 308px;
  height: 66px;
  padding: 18px 0;
  background: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
  border-radius: 5px;
  margin-bottom: 52px;
  margin: 0 auto;
  text-transform: uppercase;
}