:root {
  --blue-color: #0076A8;
  --orange-light-color: #FF6B00;
  --orange-dark-color: #D75A00;
  --gray-color: #272727;
}

/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
    url('../fonts/roboto-v29-cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v29-cyrillic-700.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* max-width 100 что бы картинка не выпадала из родителя
height auto, что бы картинки не искажались*/
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto';
  font-style: normal;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

.main-wrapper {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 1186px;
  margin: 0 auto;
}

.header-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.header__logo {
  width: 76px;
  height: 94px;
}

.info {
  display: flex;
  gap: 50px;
}

.info__list {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.info__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--gray-color);
}

.info__item-bold {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: var(--gray-color);
}

.header-up_button {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  padding: 17px 47px;
  background: var(--orange-dark-color);
  border: 0;
}

.button {
  text-transform: uppercase;
  border-radius: 5px;
  color: #FFFFFF;
}

.header-down {
  background: var(--blue-color);
  height: 70px;
  position: relative;
  padding: 25px 160px;
  margin-bottom: 53px;
}

.header-down__list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.header-down__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.header-down__link::after {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  background: #FFFFFF;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 23px;
  opacity: 0;
  transition-duration: 0.4s;
}

.header-down__link:hover::after, .header-down__link:focus::after, .header-down__link:active::after {
  width: 100%;
  opacity: 1;
}

/* Intro */

.left-block__text-1 {
  width: 646px;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: var(--gray-color);
  margin-bottom: 18px;
}

.left-block__text-1>span {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 130%;
  color: var(--gray-color);
}

.left-block__text-2 {
  display: inline-block;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: white;
  background-color: var(--orange-light-color);
  padding: 8px 7px;
  margin-bottom: 31px;
}

.left-block__text-3 {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.left-block__text-3::before {
  content: "-";
  position: relative;
  right: -5px;
  font-weight: 900;
}

.left-block__text-4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-color);
  margin-bottom: 31px;
  width: 736px;
}

.left-block__buttons {
  display: flex;
}

.button-orange {
  font-size: 26px;
  line-height: 30px;
  padding: 24px 35px;
  background: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
  margin-right: 37px;
  border: 0;
}

.button-white {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  padding: 20px 42px;
  color: var(--orange-light-color);
  border: 4px solid var(--orange-light-color);
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
}

.intro__flex-block {
  display: flex;
  position: relative;
  margin-bottom: 162px;
}

.right-block__img {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

/* section our advantages */

.fon-blue {
  background: url(../src/bg_blue.png);
  background-repeat: no-repeat;
}
.main-advantages-wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 976px;
  background: #FFFFFF;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 180px;
}

.advantages-design-wires {
  position: absolute;
  left: 101px;
  top: -100px;
  z-index: -1;
}

.advantages-design-screwdriver {
  position: absolute;
  left: 1082px;
  top: -92px;
  z-index: 2;
}

.advantages__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: black;
  margin-bottom: 21px;
  margin-top: 77px;
}

.advantages__line {
  height: 3px;
  background-color: var(--blue-color);
  width: 290px;
  margin-bottom: 41px;
}

.advantages__list {
  width: 773px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 28px;
  column-gap: 22px;
  margin-bottom: 58px;
}

.advantages__items {
  width: 176px;
}

.advantages__item-pic {
  margin-bottom: 12px;
}

.advantages__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item-text {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

/*  section our work */

.our-work__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 19px;
}

.our-work__text {
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 89px;
  color: white;
}

.work__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
  column-gap: 16px;
  margin-bottom: 170px;
}

.work__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 382px;
  height: 574px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.work__img {
  margin-bottom: 29px;
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

.work__list {
  list-style-type: disc;
  margin-left: 10px;
  margin-bottom: 31px;
}

.work__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.card-button {
  display: block;
  width: 308px;
  height: 66px;
  padding: 18px 0;
  background: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
  border-radius: 5px;
  margin-bottom: 52px;
  margin: 0 auto;
  text-transform: uppercase;
}

/* section consultation */
.consultation {
  margin-top: 100px;
}

.main-consultation-wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
}

.consultation__disk {
  position: absolute;
  left: 63px;
  top: -54px;
  z-index: 10;
}

.consultation__usb-flash {
  position: absolute;
  left: 1160px;
  top: 448px;
  z-index: 10;
}

.consultation__border {
  position: relative;
  border: 5px solid #FF6B00;
  box-sizing: border-box;
  border-radius: 5px;
}

.consultation_bg {
  width: 1180px;
  height: 530px;
  object-fit: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../src/fon_consultation.png);
  margin-bottom: 110px;
}

.consultation__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: var(--gray-color);
  margin-top: 81px;
  margin-bottom: 21px;
  text-align: center;
  align-items: center;
}

.consultation__text {
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  align-items: center;
  color: var(--gray-color);
  margin-bottom: 88px;
}

.consultation__items {
  display: flex;
  justify-content: center;
  column-gap: 46px;
  margin-bottom: 50px;
}

.button-user-name {
  width: 278px;
  height: 78px;
  background: linear-gradient(91.97deg, #FFFFFF 0%, #FFFFFF 100%);
  border: 3px solid #FF6B00;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.button-user-phone {
  width: 344px;
  height: 78px;
  background: linear-gradient(91.97deg, #FFFFFF 0%, #FFFFFF 100%);
  border: 3px solid #FF6B00;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.button-user-submit {
  margin-right: 0;
  width: 308px;
  height: 78px;
  background: linear-gradient(91.97deg, #FF6B00 0%, #F86800 100%);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  text-transform: uppercase;
  color: #FFFFFF;
}

.consultation_confidential {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--gray-color);
  margin-bottom: 82px;
}

/* block reviews */
.reviews-bg {
  background: url(../src/bg_reviews.png);
  background-repeat: no-repeat;
  height: 100%;
  padding: 1px 0;
}

.rewiews__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  color: var(--gray-color);
  margin-bottom: 97px;
  margin-top: 181px;
}

.rewiews__rewiew {
  display: block;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
}

.arrow__right-picture {
  display: block;
  width: 42.87px;
  height: 42.87px;
  border: 3px solid var(--orange-light-color);
  border-bottom: 0;
  border-right: 0;
  box-sizing: border-box;
  transform: matrix(-0.71, 0.57, -0.71, -0.71, 0, 0);
}

.arrow__left-picture {
  display: block;
  width: 42.87px;
  height: 42.87px;
  border: 3px solid var(--orange-light-color);
  border-top: 0;
  border-left: 0;
  box-sizing: border-box;
  transform: matrix(-0.71, 0.57, -0.71, -0.71, 0, 0);
}

.reviews__flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
  margin-bottom: 251px;
}

/* section contacts */
.contаcts__flex-container {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  align-items: center;
  color: #000000;
  margin-bottom: 10px;
  position: relative;
}

.contacts__title::after {
  display: block;
  content: '';
  width: 187px;
  height: 3px;
  background-color: var(--blue-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.contacts__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  align-items: center;
  color: #000000;
  margin-top: 48px;
  margin-bottom: 34px;
}

.contacts__text>span {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  align-items: center;
  color: var(--orange-light-color);
}

.contacts__social {
  display: flex;
  column-gap: 3px;
}

.left__block {
  margin-top: 122px;
}

.right_block {
  margin-top: 54px;
  margin-bottom: 46px;
}

/* footer */


.footer__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 11px 0;
}

.footer__navigation-list {
  display: flex;
  column-gap: 32px;
}

.footer__navigation-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

.footer__navigation-link::after {
  content: "";
  width: 10%;
  height: 2px;
  position: absolute;
  background: #FFFFFF;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 23px;
  opacity: 0;
  transition-duration: 0.4s;
}

.footer__navigation-link:hover::after, .footer__navigation-link:focus::after, .footer__navigation-link:active::after {
  width: 100%;
  opacity: 1;
}

.footer__logo {
  margin-left: 50px;
}

.footer-call {
  margin-right: 50px;
}